.header {
  margin-bottom: 150px;
  width: 100%;
  height: 765px;
  background-image: url(../../resources/welcome/welcome.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.container {
  position: relative;
}

.header__logo {
  position: absolute;
  top: 27px;
  font-weight: 700;
  font-size: 42.414px;
  letter-spacing: -4.666px;
  text-transform: uppercase;
  border-radius: 100px;
  padding: 0px 15px 1px 9px;
  color: #f8d197;
  background-color: black;
  text-decoration: none;
}
.header__description {
  position: absolute;
  top: 180px;
  width: 546px;
  font-size: 25px;
  letter-spacing: -0.75px;
  line-height: normal;
  color: #fff;
}
.header__menu {
  position: absolute;
  left: 526px;
  top: 33px;
}
.header__link {
  margin-right: 50px;
  font-size: 18px;
  letter-spacing: -0.54px;
  text-decoration: none;
  border-radius: 15px;
  padding: 1px 12px 5px;
  color: #fff;
  background-color: black;
}
.header__link:last-child {
  margin-right: 0px;
}
.header__link:hover {
  color: #f8d197;
}

.fresh-projects {
  margin-bottom: 150px;
}
.fresh-projects__title {
  margin-bottom: 40px;
}
.fresh-projects__item {
  position: relative;
}
.fresh-projects__item-img {
  border-radius: 35px;
}
.fresh-projects__subtitle {
  left: 50px;
  bottom: 94px;
  position: absolute;
  color: #fff;
}
.fresh-projects__description {
  position: absolute;
  left: 50px;
  bottom: 50px;
  font-size: 30px;
  letter-spacing: -0.9px;
  color: #fff;
}
.fresh-projects__btn {
  margin-top: 50px;
  padding: 56px 85px 58px 86px;
  display: inline-block;
  font-size: 30px;
  letter-spacing: -0.9px;
  border: 1px solid #f8d197;
  border-radius: 10px;
  color: #000;
  background-color: #f8d197;
  text-decoration: none;
}
.fresh-projects__btn:hover {
  color: #f8d197;
  background-color: #000;
}

.competence {
  margin-bottom: 137px;
}
.competence__title {
  margin-bottom: 104px;
}
.competence__item {
  margin-bottom: 120px;
  position: relative;
}
.competence__item:last-child {
  margin-bottom: 0px;
}
.competence__subtitle {
  position: relative;
  margin-bottom: 15px;
  color: #f8d197;
}
.competence__subtitle::before {
  bottom: 55px;
  width: 45px;
  height: 44px;
  content: "";
  position: absolute;
  background-image: url(../../resources/competence/1.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.competence__subtitle_java-script::before {
  background-image: url(../../resources/competence/2.png);
}
.competence__subtitle_frameworks::before {
  background-image: url(../../resources/competence/3.png);
}
.competence__subtitle_mobile-device::before {
  bottom: 90px;
  background-image: url(../../resources/competence/4.png);
}
.competence__text {
  width: 778px;
  font-size: 22px;
  letter-spacing: -0.66px;
  color: #fff;
}

.skills__title {
  margin-bottom: 40px;
}
.skills__item {
  margin-bottom: 74px;
}
.skills__background {
  padding: 40px 62px 40px 40px;
  border-radius: 30px;
  background-color: #191c19;
}
.skills__description {
  width: 750px;
}
.skills__subtitle {
  margin-bottom: 15px;
  color: #f8d197;
}
.skills__item:last-child {
  margin-bottom: 0px;
}

.contacts {
  width: 100%;
  height: 717px;
  background-image: url(../../resources/contacts/1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  border-radius: 30px;
}
.contacts__container {
  margin: 150px auto;
  padding-top: 320px;
  position: relative;
  width: 1150px;
}
.contacts__description {
  margin-bottom: 28px;
  font-size: 35px;
  line-height: 60px;
  letter-spacing: -1.05px;
  color: #fff;
}
.contacts__link {
  display: flex;
  margin-bottom: 20px;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: -1.8px;
  color: #fff;
  text-decoration: none;
}
.contacts__link:last-child {
  margin-bottom: 0;
}
.contacts__link:hover {
  color: #f8d197;
}

.footer {
  padding: 76px 0 24px;
  border-radius: 30px;
  background-color: #fff;
}
.footer__description {
  margin-bottom: 66px;
  display: flex;
  margin-bottom: 66px;
  font-size: 22px;
  letter-spacing: -0.66px;
  color: #000;
}
.footer__description_color {
  margin-bottom: 0;
  opacity: 0.5;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "IBM Plex Mono", monospace;
  background-color: black;
}

h1 {
  position: absolute;
  top: 352px;
  width: 699px;
  font-size: 59px;
  line-height: 70px;
  letter-spacing: -1.77px;
  color: #f8d197;
}

.container {
  width: 1150px;
  margin: 0 auto;
}

h2 {
  font-size: 55px;
  letter-spacing: -1.65px;
  line-height: normal;
  margin-bottom: 40px;
  color: #fff;
}

h3 {
  font-size: 35px;
  letter-spacing: -1.05px;
  color: #fff;
}

.text {
  font-size: 22px;
  letter-spacing: -0.66px;
  line-height: normal;
  color: #fff;
}