.fresh-projects__btn {
	margin-top: 80px;
	padding: 56px 85px 58px 86px;
	display: inline-block;

	border: 1px solid #f8d197;
	border-radius: 10px;
	color: #000;
	background-color: #f8d197;
	text-decoration: none;
}

.fresh-projects__btn:hover {
	color: #f8d197;
	background-color: #000;
}

.contacts__btn {
	margin: 55px 0 0 0;
	padding: 20px 170px;
	font-family: inherit;
	cursor: pointer;
	border-radius: 10px;
	background: #f8d197;
	color: #000000;
	border: none;
}

.contacts__btn:hover {
	color: #f8d197;
	background-color: #000;
}

@media (max-width: 1199px) {
	.fresh-projects__btn {
		margin-top: 65px;
		padding: 45px 67px 47px 68px;
		border-radius: 8.087px;
	}

	.contacts__btn {
		margin: 23px 0 0 0;
		padding: 12px 110px;
		border-radius: 6.75px;
	}
}

@media (max-width: 767px) {
	.fresh-projects__btn {
		margin-top: 60px;
		padding: 28px 51px 29px 52px;
	}

	.contacts__btn {
		margin: 25px 0 0 0;
		padding: 11px 132px;
		border-radius: 6.221px;
	}
}
