.competence {
	margin-bottom: 137px;

	&__title {
		margin-bottom: 104px;
	}

	&__item {
		margin-bottom: 120px;
		position: relative;
	}

	&__item:last-child {
		margin-bottom: 0px;
	}

	&__subtitle {
		position: relative;
		margin-bottom: 15px;
		color: #f8d197;
	}

	&__subtitle::before {
		bottom: 55px;
		width: 45px;
		height: 44px;
		content: '';
		position: absolute;
		background-image: url(../../resources/competence/1.png);
		background-position: 50%;
		background-repeat: no-repeat;
		background-size: cover;
	}

	&__subtitle_java-script::before {
		background-image: url(../../resources/competence/2.png);
	}

	&__subtitle_frameworks::before {
		background-image: url(../../resources/competence/3.png);
	}

	&__subtitle_mobile-device::before {
		bottom: 90px;
		background-image: url(../../resources/competence/4.png);
	}

	&__text {
		width: 778px;
		font-size: 22px;
		letter-spacing: -0.66px;

		color: #fff;
	}
}
