.competence {
	margin-bottom: 137px;

	&__title {
		margin-bottom: 104px;
	}

	&__item {
		margin-bottom: 120px;
		position: relative;
	}

	&__item:last-child {
		margin-bottom: 0px;
	}

	&__subtitle {
		margin-bottom: 15px;
		color: #f8d197;
	}

	&__text {
		width: 778px;
		font-size: 22px;
		letter-spacing: -0.66px;

		color: #fff;
	}
}
