.contacts {
	&__container {
		margin: 150px auto;
		position: relative;
		width: 1150px;
	}

	&__img {
		width: 100%;
		height: 717px;
		background-image: url(../../resources/contacts/1.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50%;
	}

	&__text {
		position: absolute;
		top: 320px;
		font-size: 35px;
		line-height: 60px;
		letter-spacing: -1.05px;

		color: #fff;
	}

	&__inst {
		position: absolute;
		top: 408px;
		font-size: 60px;
		line-height: 60px;
		letter-spacing: -1.8px;

		color: #fff;
		text-decoration: none;
	}

	&__telegram {
		position: absolute;
		top: 488px;
		font-size: 60px;
		line-height: 60px;
		letter-spacing: -1.8px;

		color: #fff;
		text-decoration: none;
	}

	&__mail {
		position: absolute;
		top: 568px;
		font-size: 60px;
		line-height: 60px;
		letter-spacing: -1.8px;

		color: #fff;
		text-decoration: none;
	}

	&__inst:hover {
		color: #f8d197;
	}
	&__telegram:hover {
		color: #f8d197;
	}
	&__mail:hover {
		color: #f8d197;
	}
}
