.footer {
	width: 100%;
	padding: 76px 0 32px;
	border-radius: 30px;
	background-color: #fff;

	&__list-wrapper,
	&__description-wrapper {
		display: flex;
		justify-content: space-between;
	}

	&__description-about-me,
	&__derscription,
	&__link {
		height: 46px;
		display: flex;
		margin-bottom: 66px;
		@include adaptiv-font(22, 15);
		text-decoration: none;

		color: #000;
	}

	&__description {
		&_mod {
			@include adaptiv-font(20, 13);
			margin-bottom: 0;
			opacity: 0.5;
		}
	}

	&__element:not(:last-child) {
		margin-right: 24px;
	}

	&__list {
		display: flex;
	}
}

@media (max-width: 800px) {
	.footer__list-wrapper,
	.footer__description-wrapper {
		flex-direction: column;
	}

	.footer__description-about-me,
	.footer__link {
		height: auto;
		margin-bottom: 20px;
	}

	.footer__list-wrapper {
		margin-bottom: 40px;
	}

	.footer__description:not(:last-child) {
		margin-bottom: 12px;
	}
}
