.footer {
	padding: 76px 0 24px;
	border-radius: 30px;
	background-color: #fff;

	&__description {
		margin-bottom: 66px;
		display: flex;
		margin-bottom: 66px;
		font-size: 22px;
		letter-spacing: -0.66px;

		color: #000;
	}

	&__description_color {
		margin-bottom: 0;
		opacity: 0.5;
	}
}
