.fresh-projects {
	padding: 150px 0;

	&__title {
		margin: 0 0 40px 0;
	}

	&__item {
		position: relative;
	}

	&__img {
		width: 100%;
	}

	&__description-of-cites {
		position: absolute;
		top: 50px;
		left: 45px;
		@include adaptiv-font(20, 13);
		color: #000000;
		padding: 10px 20px;
		border-radius: 100px;
		background: #f8d197;
	}

	&__subtitle {
		left: 50px;
		bottom: 94px;
		position: absolute;
		color: #fff;
	}

	&__description {
		position: absolute;
		left: 50px;
		bottom: 50px;
		@include adaptiv-font(30, 16);

		color: #fff;
	}
}

@media (max-width: 1199px) {
	.fresh-projects__title {
		margin: 0 0 53px 0;
	}

	.fresh-projects__description-of-cites {
		top: 40px;
		left: 35px;
		padding: 8px 16px;
	}

	.fresh-projects__subtitle {
		left: 40px;
		bottom: 76px;
	}

	.fresh-projects__description {
		left: 40px;
		bottom: 40px;
	}
}

@media (max-width: 960px) {
	.fresh-projects__img {
		height: 445px;
		object-fit: cover;
		object-position: 18%;
		border-radius: 24px;
	}
}

@media (max-width: 767px) {
	.fresh-projects {
		padding: 100px 0;
	}

	.fresh-projects__title {
		margin: 0 0 73px 0;
	}

	.fresh-projects__description-of-cites {
		top: 36px;
		left: 53px;
		padding: 7px 13px;
	}

	.fresh-projects__subtitle {
		left: 35px;
	}

	.fresh-projects__description {
		left: 35px;
		bottom: 50px;
	}
}
