h1 {
	max-width: 740px;
	@include adaptiv-font(60, 35);

	color: #f8d197;
}

h2 {
	margin-bottom: 40px;
	@include adaptiv-font(55, 30);

	color: #fff;
}

h3 {
	@include adaptiv-font(35, 28);
	color: #fff;
}
