.input {
	margin: 0 0 25px 0;
	padding: 16px 250px 15px 40px;
	border-radius: 1000px;
	border: none;
	background: #3b3d3b;
	color: #ffffff;
}

@media (max-width: 1199px) {
	.input {
		margin: 0 0 17px 0;
		padding: 10px 250px 10px 24px;
	}
}

@media (max-width: 767px) {
	.input {
		margin: 0 0 15px 0;
		padding: 9px 187px 9px 18px;
	}
}
