$maxWidth: 1400;

@mixin adaptiv-font($pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$maxWidth: $maxWidth - 375;
	$maxFontSize: 60; // Максимальный размер шрифта в пикселях
	$minFontSize: 13; // Минимальный размер шрифта в пикселях
	$fontSize: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 375px) / #{$maxWidth}));

	// Ограничение максимального и минимального размера шрифта
	font-size: clamp(#{$minFontSize}px, #{$fontSize}, #{$maxFontSize}px);
}
