.fullscreen-header {
	position: relative;
	width: 1400px;
	height: 765px;
	margin: 0 auto;
	background-image: url(../../resources/welcome/welcome.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
}

.fullscreen-header {
	&__logo-surname {
		position: absolute;
		left: 132px;
		top: 34px;
		font-weight: 700;
		font-size: 42.414px;
		letter-spacing: -4.666px;
		text-transform: uppercase;
		border-radius: 100px;
		padding: 0px 15px 1px 9px;

		color: #f8d197;
		background-color: black;
	}

	&__text {
		position: absolute;
		left: 93px;
		bottom: 466px;
		width: 546px;
		font-size: 25px;
		letter-spacing: -0.75px;

		color: #fff;
	}
}

.menu {
	position: absolute;
	left: 773px;
	top: 33px;

	&__link {
		margin-right: 50px;
		font-size: 18px;
		letter-spacing: -0.54px;
		text-decoration: none;
		border-radius: 10px;
		padding: 0px 5px 3px 4px;

		color: #fff;
		background-color: #b1a592;
	}

	&__link:hover {
		color: #f8d197;
	}
}
