@import 'fullscreen';
@import 'fresh-projects';
@import 'competence';
@import 'skills.scss';
@import 'contacts.scss';
@import 'footer.scss';

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'IBM Plex Mono', monospace;

	.container__background {
		width: 1400px;
		margin: 0 auto;
		padding-bottom: 150px;

		background-color: black;
	}
}

h1 {
	left: 93px;
	bottom: 208px;
	position: absolute;
	width: 699px;
	font-size: 59px;
	line-height: 70px;
	letter-spacing: -1.77px;

	color: #f8d197;
}
