@import 'header';
@import 'fresh-projects';
@import 'competence';
@import 'skills.scss';
@import 'contacts.scss';
@import 'footer.scss';

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'IBM Plex Mono', monospace;

	background-color: black;
}

h1 {
	position: absolute;
	top: 352px;
	width: 699px;
	font-size: 59px;
	line-height: 70px;
	letter-spacing: -1.77px;

	color: #f8d197;
}

.container {
	width: 1150px;
	margin: 0 auto;
}

h2 {
	font-size: 55px;
	letter-spacing: -1.65px;
	line-height: normal;
	margin-bottom: 40px;

	color: #fff;
}

h3 {
	font-size: 35px;
	letter-spacing: -1.05px;
	color: #fff;
}

.text {
	font-size: 22px;
	letter-spacing: -0.66px;
	line-height: normal;
	color: #fff;
}
